@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import "tailwindcss";

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #f8fafc;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
